
.naranja{
    color:    #ff9002;
 }
 
.back-naranja{
    background-color:    #ff9002;
 }
 
 .violeta{
   color:  #390d40;
 }

 .back-violeta{
       background-color:  #390d40;
 }
 
 .blanco{
   color:  #e3e3e3;
 }

 .back-blanco{
    background-color:  #e3e3e3;
  }
